<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{% block title %}{% endblock %}</title>
	{% block scripts %}
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard\\css\\base.css' %}">
	<script src="https://kit.fontawesome.com/250a986bc8.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script type="text/javascript">
		var user = '{{request.user}}';
	</script>
</head>
<body>
	<div id="container">
	<div id="main">
	<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
		<a class="navbar-brand mt-1 h1" href="{% url 'index:index' %}">Xeon</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
					<a class="nav-link" href="{% url 'authenticate:register' %}">Sign up</a>
					</li>
					<li class="nav-item active">
					<a class="nav-link" href="{% url 'authenticate:login' %}">Login</a>
					</li>
					<li class="nav-item active dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<table>
								<tr>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Food' %}">Food</a></td>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Electronics' %}">Electronics</a></td>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Tools' %}">Tools and Home improvement</a></td>
								</tr>
								<tr>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Drink' %}">Drink</a></td>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Computers' %}">Computers</a></td>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Home_kitchen' %}">Home and Kitchen</a></td>
									
								</tr>
								<tr>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Toys' %}">Toys</a></td>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Automotive' %}">Automotive</a></td>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Sports' %}">Sports and Outdoors</a></td>
								</tr>
								<tr>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Apparel' %}">Apparel</a></td>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Beauty' %}">Beauty</a></td>
									<td><a class="dropdown-item" href="{% url 'index:store' 'Health' %}">Health</a></td>
								</tr>
							</table>
						</div>
					</li>
				</ul>
				<div class="navbar-nav mr-auto">
					<a class="nav-link active h5" href="#">Welcome</a>
				</div>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					<a href="{% url 'dashboard:cart' %}" style="margin-left: 10px;"><i class="fas fa-shopping-cart fa-lg"></i></a>
				</form>
		</div>
		
		</div>
	</nav>
	{% block body %}
	{% endblock %}
</div>
</div>
	<footer class="footer">
		<div class="container">
			<p>© 2020 Xeon® Global Inc.</p>
			<p><a href="#" style="color: white; padding-right: 10px">Terms of Service</a>
			<a href="#" style="color: white; padding-right: 10px; padding-left: 10px">Privacy Policy</a>
			<a href="#" style="color: white; padding-left: 10px">Accessibility</a></p>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'dashboard\\js\\cart.js' %}"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	{% block script %}{% endblock %}
</html>